@charset "UTF-8";
.background, .body-projects main .trabajemos .contacto, main .container .contactame {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  /*tipografía del sitio*/
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");
}

/*titulos bold*/
h2, h3 {
  font-weight: bold;
}

.navbar {
  z-index: 999;
  background-color: #392c50;
  margin: 0px;
  padding: 0px;
}
.navbar .container-fluid {
  background-color: #392c50;
  padding: 0px 52px;
  height: 104px;
  margin: 0px;
  /*marca*/
}
.navbar .container-fluid img {
  padding-right: 8px;
}
.navbar .container-fluid .navbar-brand {
  color: #cbb9eb;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 40px;
}
.navbar .container-fluid .navbar {
  padding: 0px;
}
.navbar .container-fluid .collapse {
  justify-content: end;
}
.navbar .container-fluid .collapse .navbar-nav {
  align-items: flex-end;
  /*Botones*/
}
.navbar .container-fluid .collapse .navbar-nav a {
  color: #f3f3f3;
  margin-left: 8px;
}
.navbar .container-fluid .collapse .navbar-nav a:hover {
  color: #f3f3f3;
  border-radius: 10px;
  border: 2px solid #f3f3f3;
}
.navbar .container-fluid .collapse .navbar-nav .active, .navbar .container-fluid .collapse .navbar-nav navbar-nav a {
  background-color: #f3f3f3;
  color: #392c50;
  border-radius: 10px;
  border: 1px solid #f3f3f3;
  box-shadow: 0 0 16px 1px #f3f3f3;
}
.navbar .container-fluid .collapse .navbar-nav .active:hover, .navbar .container-fluid .collapse .navbar-nav navbar-nav a:hover {
  color: #392c50;
  border-radius: 10px;
  border: 2px solid #392c50;
}
.navbar .container-fluid .collapse .navbar-nav .nav-link {
  width: 110px;
  text-align: center;
}

.pag1 {
  background: linear-gradient(#222123, #352546);
  /*contenedor de textos y botones*/
  /*Seccion cualidades del desarrollador*/
}
.pag1 .saludoydibujo {
  margin: 52px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.pag1 .saludoydibujo .cajasaludo {
  width: 648px;
  height: 600px;
  border-radius: 10px;
  padding-top: 150px;
  /*subtitulo hello*/
  /*botones resume y proyectos*/
}
.pag1 .saludoydibujo .cajasaludo .titulohello,
.pag1 .saludoydibujo .cajasaludo .parrafohello {
  padding-left: 52px;
  padding-bottom: 8px;
  color: #f3f3f3;
}
.pag1 .saludoydibujo .cajasaludo .botones {
  display: flex;
  margin-left: 52px;
}
.pag1 .saludoydibujo .cajasaludo .botones .botoncajasaludo {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 120px;
  margin-right: 16px;
  /* texto botones resume y proyectos*/
}
.pag1 .saludoydibujo .cajasaludo .botones .botoncajasaludo a {
  width: 100%;
  border-radius: 10px;
  background-color: #392c50;
  color: #f3f3f3;
  text-decoration: none;
  padding: 8px 16px;
}
.pag1 .saludoydibujo .cajasaludo .botones .botoncajasaludo a:hover {
  background-color: #f3f3f3;
  border: 2px solid #392c50;
  color: #392c50;
}
.pag1 .saludoydibujo .cajasaludo .dibujo img {
  border-radius: 10px;
}
.pag1 .cajascualidades {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-left: 52px;
  margin-bottom: 0px;
  width: 1348px;
}
.pag1 .cajascualidades .cualidades {
  width: 416px;
  height: 200px;
  padding: 32px;
  margin-bottom: 52px;
  background-color: #8BE1F0;
  border-radius: 10px;
}
.pag1 .cajascualidades .cualidades img {
  padding-bottom: 32px;
}

/*seccion info. desarrollador*/
main .container {
  padding: 0px;
  /*Seccion info. del desarrollador video*/
}
main .container .contactame {
  width: 648px;
  height: 600px;
  padding-top: 8px;
  margin-top: 52px;
  background-image: url("../img/fondo main.webp");
  padding: 24px 280px 24px 24px;
  border-radius: 10px;
  box-shadow: 4px 4px 0px 0px rgba(113, 113, 113, 0.243);
}
main .container .contactame div .parrafocontactame {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 18px;
}
main .container .contactame div div a {
  width: 100%;
  border-radius: 10px;
  background-color: #392c50;
  color: #f3f3f3;
  text-decoration: none;
  padding: 8px 16px;
}
main .container .contactame div div a:hover {
  background-color: #f3f3f3;
  border: 2px solid #392c50;
  color: #392c50;
}
main .container .video iframe {
  margin-top: 52px;
  border-radius: 10px;
  box-shadow: 4px 4px 0px 0px rgba(113, 113, 113, 0.243);
}
main .cajaaboutme {
  margin-top: 52px;
  margin-bottom: 52px;
}
main .cajaaboutme .aboutme {
  text-align: center;
  margin: 0px;
  height: auto;
  padding: 16px;
  background-color: #8BE1F0;
  border-radius: 10px;
  box-shadow: 4px 4px 0px 0px rgba(113, 113, 113, 0.243);
}
main .cajaaboutme .aboutme .redessociales {
  border-radius: 10px;
}
main .cajaaboutme .aboutme div {
  padding: 2px;
}

main .resume {
  margin: 52px;
}
main .resume .container-resume {
  margin: 52px;
}
main .resume .section-title {
  margin-bottom: 52px;
}

.body-projects {
  background: linear-gradient(rgba(102, 255, 237, 0.6274509804), #392c50);
}
.body-projects main .container .row {
  justify-content: center;
}
.body-projects main .container .row .carousel-inner {
  padding-top: 156px;
  height: 518px;
}
.body-projects main .container .row .carousel-inner .carousel-control-next,
.body-projects main .container .row .carousel-inner .carousel-control-prev {
  margin-top: 160px;
}
.body-projects main .container .row .carousel-inner img {
  padding-left: 218px;
}
.body-projects main .container .row .carousel-inner .carousel-caption p {
  margin-bottom: 295px;
}
.body-projects main .trabajemos {
  margin: 52px;
}
.body-projects main .trabajemos .contacto {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  height: auto;
  padding: 16px;
  background-color: #8BE1F0;
  border-radius: 10px;
}
.body-projects main .trabajemos .contacto .trabajemosjuntos {
  padding: 4px;
}
.body-projects main .trabajemos .contacto .botoncontact {
  margin: 8px;
}
.body-projects main .trabajemos .contacto .botoncontact a {
  margin: 8px;
  width: 100%;
  border-radius: 10px;
  background-color: #392c50;
  color: #f3f3f3;
  text-decoration: none;
  padding: 8px 16px;
}
.body-projects main .trabajemos .contacto .botoncontact a:hover {
  background-color: #f3f3f3;
  border: 2px solid #392c50;
  color: #392c50;
}

main .grid {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 4fr 5fr;
  grid-template-areas: "contacttexto contacttexto" "datosmapa datosformulario ";
  /* cuadro con los datos y mapa*/
}
main .grid .contacttexto {
  grid-area: contacttexto;
}
main .grid .contacttexto .section-title {
  margin: 52px 52px 0px;
}
main .grid .contacttexto .section-title h2 {
  margin-bottom: 8px;
}
main .grid .datosmapa {
  width: 100%;
  height: 750px;
  padding: 0px 52px;
  margin-bottom: 156px;
  grid-area: datosmapa;
}
main .grid .datosmapa .info {
  padding: 32px;
  background: #ffffff;
  border-radius: 10px;
  width: 100%;
  height: 750px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  /* cuadro con formulario */
}
main .grid .datosmapa .info img {
  float: left;
  width: 64px;
  height: 64px;
  background: #8BE1F0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  margin-right: 8px;
  transition: all 0.3s ease-in-out;
}
main .grid .datosmapa .info .address,
main .grid .datosmapa .info .email,
main .grid .datosmapa .info .phone {
  padding-bottom: 32px;
}
main .grid .datosmapa .info .address bi h4 {
  font-size: 22px;
  font-weight: 600px;
  padding-top: 4px;
  margin-bottom: 4px;
}
main .grid .datosmapa .info .address bi p {
  padding: 0 0 8px 52px;
  margin-bottom: 16px;
  font-size: 18px;
}
main .grid .datosformulario {
  grid-area: datosformulario;
  margin-right: 52px;
}
main .grid .datosformulario .enviarmensaje {
  width: 100%;
  height: 750px;
  padding: 32px;
  margin-right: 52px;
  border-radius: 10px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
main .grid .datosformulario .enviarmensaje .container {
  border-radius: 10px;
}
main .grid .datosformulario .enviarmensaje .container input[type=text],
main .grid .datosformulario .enviarmensaje .container select,
main .grid .datosformulario .enviarmensaje .container textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
main .grid .datosformulario .enviarmensaje .container #subject {
  height: 134px;
  margin-bottom: 4px;
}
main .grid .datosformulario .enviarmensaje .container input[type=submit] {
  background-color: #392c50;
  color: #ffffff;
  padding: 8px 16px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
main .grid .datosformulario .enviarmensaje .container input[type=submit]:hover {
  background-color: #8BE1F0;
  color: #392c50;
}

/*FOOTER*/
.pie {
  background-color: #392c50;
}
.pie .col-auto {
  color: #8BE1F0;
}
.pie .small {
  color: #8BE1F0;
}

/*RESPONSIVE*/
@media (max-width: 480px) {
  /*PAG 1 "HOME"*/
  /*Nav bar*/
  .navbar .container-fluid .navbar-brand {
    font-size: 22px;
  }
  .navbar .container-fluid .navbar-toggler {
    background-color: #f3f3f3;
  }
  .navbar .container-fluid .collapse .navbar-nav .nav-link {
    background-color: #f3f3f3;
    color: #392c50;
    border-radius: 0px;
  }
  .navbar .container-fluid .collapse .navbar-nav .active {
    background-color: #8BE1F0;
    border: 1px solid #8BE1F0;
    box-shadow: 0 0 16px 1px #8BE1F0;
  }
  .pag1 {
    /*Seccion cualidades en cajas*/
  }
  .pag1 .saludoydibujo {
    margin-bottom: 26px;
    /*Seccion cualidades del desarrollador (con imagen)*/
  }
  .pag1 .saludoydibujo .cajasaludo {
    width: 344px;
    height: 318px;
    padding-top: 78px;
    /*subtitulo hello*/
  }
  .pag1 .saludoydibujo .cajasaludo .titulohello {
    font-size: 18px;
  }
  .pag1 .saludoydibujo .cajasaludo .parrafohello {
    font-size: 20px;
  }
  .pag1 .saludoydibujo .cajasaludo .botoncajasaludo {
    font-size: 14px;
    width: 100px;
  }
  .pag1 .saludoydibujo div .dibujo,
  .pag1 .saludoydibujo .dibujo img {
    width: 344px;
    height: 318px;
    margin-top: 26px;
  }
  .pag1 .cajascualidades {
    flex-direction: column;
    margin-left: 68px;
  }
  .pag1 .cajascualidades .cualidades {
    margin: 26px 0px;
    padding: 20px;
    width: 344px;
    height: 165px;
  }
  .pag1 .cajascualidades .cualidades .cualidades:nth-child(3) {
    margin-bottom: 52px;
  }
  .pag1 .cajascualidades .cualidades img {
    padding: 13px;
  }
  /* FIN PAG 1 "HOME"*/
  /*INICIO PAG 2 "ABOUT ME"*/
  .main-aboutme .container .contactame {
    width: 344px;
    height: 318px;
    margin: 52px 68px;
    padding: 4px 8px;
    margin-bottom: 6px;
  }
  .main-aboutme .container .contactame .tituloparrafo {
    font-size: 18px;
    margin-left: 8px;
    margin-bottom: 0px;
  }
  .main-aboutme .container .contactame .parrafocontactame {
    margin-bottom: 0px;
    padding: 8px 80px 8px 8px;
    font-size: 12px;
  }
  .main-aboutme .container .contactame div div a {
    font-size: 14px;
    width: 100px;
    margin-left: 8px;
  }
  .main-aboutme .container .video iframe {
    width: 344px;
    height: 318px;
    margin: 52px 68px 0px;
  }
  .main-aboutme .cajaaboutme {
    margin: 52px 68px;
    width: 344px;
    font-size: 14px;
    height: auto;
  }
  .main-aboutme .cajaaboutme .aboutme h2 {
    font-size: 20px;
  }
  .main-aboutme .cajaaboutme .aboutme h4 {
    font-size: 18px;
  }
  /*FIN PAG 2 "ABOUT ME"*/
  /*INICIO PAG 3 "RESUME"*/
  .resume {
    margin: 0px 52px;
  }
  .resume .container-resume .row .col-lg-6 .resume-item {
    margin-bottom: 52px;
  }
  /*FIN PAG 3 "RESUME"*/
  /*INICIO PAG 4 "PROJECTS"*/
  .body-projects main .container .row .col-9 {
    width: 85%;
    padding: 0px;
  }
  .body-projects main .container .row .col-9 .carousel .carousel-inner {
    padding-top: 52px;
    height: 290px;
  }
  .body-projects main .container .row .col-9 .carousel .carousel-inner .carousel-control-next,
  .body-projects main .container .row .col-9 .carousel .carousel-inner .carousel-control-prev {
    margin-top: 8px;
  }
  .body-projects main .container .row .col-9 .carousel .carousel-inner img {
    padding-left: 46px;
    width: 384px;
    height: 200px;
  }
  .body-projects main .container .row .col-9 .carousel .carousel-inner .carousel-caption {
    margin-bottom: 185px;
  }
  /*FIN PAG 4 "PROJECTS"*/
  /*PAG 5 "CONTACT"*/
  main .grid {
    grid-template-rows: 14% 44% 44%;
    grid-template-columns: 1fr;
    grid-template-areas: "contacttexto" "datosmapa" "datosformulario ";
  }
  main .grid .datosformulario {
    margin-left: 52px;
  }
}
/*FIN 5 "CONTACT"*/

/*# sourceMappingURL=style.css.map */
