$colores:(
    primario:#392c50,
    marca:#cbb9eb,
    fondoindex:#34373a,
    fondocajas: #8BE1F0,
    texto1:#f3f3f3,
    fondoformulario:#ffffff, 
);
$medidas:(
    ancho: 648px,
    alto: 600px,
    ancho-completo: 100%,
    alto2: 750px,
    img: 64px,
    icon: 20px,
    queries-ancho: 292px,
    queries-alto: 290px,
    queries-altocualidades: 165px,
    queries-boton: 90px,
    queries-margin: 26px,
    queries-marginleft: 68px,
    queries-margincualidades: 26px,
    queries-padding-cualidades: 20px,
    queries-parrafo1: 4px,
    sin-padding: 0px,
    padding-parrafo1: 8px,
    padding-parrafo2: 16px,
    padding-parrafo3: 24px,
    padding-parrafo4: 32px,
    margen-arriba: 52px,
    margen-inferior: 104px,
    esquinas: 10px,
    sombra-active: 0 0 16px 1px #f3f3f3,
    sombra: 4px 4px 0px 0px  rgba(113, 113, 113, 0.243),
    sombraformulario: 0 0 24px 0 rgba(0, 0, 0, 0.12)
);
$tamanios:(
    h1: 22px,
    h2: 20px,
    h3: 18px,
    h4: 16px,
    h5: 14px,
    h6: 12px,
)
