@mixin flex($display,$wrap,$horizontal){
    display: $display;
    flex-wrap: $wrap;
    justify-content: $horizontal;
}
@mixin centrar($display,$centrado,$horizontal){
    display: $display;
    text-align: $centrado;
    justify-content: $horizontal;
}