/*RESPONSIVE*/
@media (min-width: 320px) and (max-width: 480px) {
    /*Nav bar*/
    .navbar {
        .container-fluid {
            padding: map-get($medidas,sin-padding) map-get($medidas,queries-margin);
            .navbar-brand {
                font-size: map-get($tamanios, h4);
            }
            .navbar-toggler {
                background-color: map-get($colores, texto1);
            }
            .collapse {
                .navbar-nav {
                    .nav-link {
                        background-color: map-get($colores, texto1);
                        color: map-get($colores, primario);
                        border-radius: 0px;
                    }
                    .active {
                        background-color: map-get($colores, fondocajas);
                        border: 1px solid map-get($colores, fondocajas);
                        box-shadow: 0 0 16px 1px map-get($colores, fondocajas);
                    }
                }
            }
        }
    }
    /* INICIO PAG 1 "HOME"*/
    .pag1 {
        .saludoydibujo {
            margin-bottom: map-get($medidas, queries-margin);
            .cajasaludo {
                width: map-get($medidas, queries-ancho);
                height: map-get($medidas, queries-alto);
                padding-top: 78px;
                /*subtitulo hello*/
                .titulohello {
                    font-size: map-get($tamanios, h5);
                }
                .parrafohello {
                    font-size: map-get($tamanios, h4);
                }
                .botoncajasaludo {
                    font-size: map-get($tamanios, h6);
                }
            }
            /*Seccion cualidades del desarrollador (con imagen)*/
            .dibujo img {
                width: map-get($medidas, queries-ancho);
                height: map-get($medidas, queries-alto);
                margin-top: map-get($medidas, queries-margin);
            }
        }
        /*Seccion cualidades en cajas*/
        .sectioncualidades{
            margin-top: 52px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            .cajascualidades {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .cualidades {
                padding: map-get($medidas, queries-padding-cualidades);
                width: map-get($medidas, queries-ancho);
                height: map-get($medidas, queries-altocualidades);
                img {
                    padding: 13px;
                }
                .cualidades:not(:last-child) {
                    margin-right: 0px;
                }
                }
            }
        }
    }
    /* FIN PAG 1 "HOME"*/
    /*INICIO PAG 2 "ABOUT ME"*/
    .mainaboutme {
        .container{
            .row{
                .col{
                    .contactameyvideo{
                        .contactame {
                            width: auto;
                            height:auto;
                            margin: map-get($medidas, margen-arriba) map-get($medidas, queries-margin);
                            padding: map-get($medidas, queries-parrafo1) map-get($medidas, padding-parrafo1);
                            margin-bottom: 6px;
                            .tituloparrafo {
                                font-size: map-get($tamanios, h4);
                                margin-left: map-get($medidas, padding-parrafo1);
                                margin-bottom: map-get($medidas, sin-padding);
                            }
                            .parrafocontactame {
                                margin-bottom: 0px;
                                padding: map-get($medidas, padding-parrafo1) 80px map-get($medidas, padding-parrafo1) map-get($medidas, padding-parrafo1);
                                font-size: map-get($tamanios, h6);
                            }
                            div{
                                margin-bottom:map-get($medidas, padding-parrafo1) ;
                                a {
                                    font-size: map-get($tamanios, h6);
                                    width: map-get($medidas, queries-boton);
                                    margin-left: map-get($medidas, padding-parrafo1);
                                }
                            }
                             
                        }
                    }
                } 
                .cajavideo{
                    width: 320px;
                    .video iframe{  
                        width: 84%;
                        height: 100%;
                        margin: 52px 26px 26px 26px;    
                        }
                }   
                
                
                    
                           
            }
        }
        .container{
            .row{
                .col{
                    .cajaaboutme {
                        margin: map-get($medidas, queries-margin);
                        width: auto;
                        font-size: map-get($tamanios, h5);
                        height: auto;
                        .aboutme {
                            h2 {
                                font-size: map-get($tamanios, h3);
                            }
                            h4 {
                                font-size: map-get($tamanios, h4);
                            }
                        }
                    }
                }
            }
        }      
    }
    /*FIN PAG 2 "ABOUT ME"*/
    /*INICIO PAG 3 "RESUME"*/
    main{
        .resume {
            margin: 0px;
            .container-resume{
                .section-title{
                    .parrafosummary{
                    margin-bottom: 0px;
                    }
                }
                .row{
                    .col-lg-6{
                        padding: 0px;
                        .resume-title{
                            padding-top: 16px;
                            margin-bottom: 0px;
                        }
                        .resume-item{
                            padding-top: map-get($medidas , padding-parrafo1);
                        }
                    }
                }
            }
        }
    }
    
    /*FIN PAG 3 "RESUME"*/
    /*INICIO PAG 4 "PROJECTS"*/
    .body-projects {
        main {
            .container {
                .row {
                    width: auto;
                    padding-right: 0px;
                    .col-9 {
                        width: auto;
            
                    .carousel-indicators {
                        .circle {
                            width: 12px;
                            height: 12px;   
                            }
                        }
                    .carousel-inner {
                                width: auto;
                                padding-top: 26px;
                                height: auto;
                                margin:map-get($medidas,queries-margin);
                            .carousel-control-prev,
                            .carousel-control-next{
                                    height: auto;
                                    margin-top: 26px;
                                }
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            .trabajemos{
                margin:map-get($medidas,queries-margin);
                .contacto{
                    .botoncontact{
                        a{
                            font-size: map-get($tamanios, h6);
                        }
                    }
                }
            }    
            }
        }
    /*FIN PAG 4 "PROJECTS"*/
    /*PAG 5 "CONTACT"*/
    main {
        .grid{
        grid-template-rows: 12% 44% 44%;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "contacttexto"
        "datosmapa"
        "datosformulario ";
        .contacttexto{
            margin: 32px;
            .section-title{
                margin: 0px;
            }
        }
        .datosmapa {
            padding: 32px;
            margin: 0px;
            margin-bottom: map-get($medidas, margen-inferior);
            margin-top: 32px;
            grid-area: datosmapa;
            .info {
                padding: map-get($medidas, padding-parrafo2);
                .address,
                .email,
                .phone {
                    padding-bottom: map-get($medidas, padding-parrafo4);
                    img{
                        width: 32px;
                        height: 32px;   
                }
            }      
        }
    }
        .datosformulario{
            margin: 0px;
            padding: 0 32px;
            .enviarmensaje{
                margin-top: 26px;
                padding: 16px;
                height: 100%;  
                }
            }
        }
    } 
}     
/*FIN 5 "CONTACT"*/