/*RESPONSIVE*/
@media (max-width: 480px){ 
    /*PAG 1 "HOME"*/
    /*Nav bar*/
    .navbar{
        .container-fluid{
            .navbar-brand {
                font-size: map-get($tamanios,h1);
            }
            .navbar-toggler{
                background-color: map-get($colores , texto1 );
            }
            .collapse{
                .navbar-nav{
                    .nav-link{
                        background-color:map-get($colores , texto1 );
                        color:map-get($colores ,primario ) ;
                        border-radius: 0px;
                        
                    }
                    .active{
                        background-color:map-get($colores, fondocajas);
                        border: 1px solid map-get($colores, fondocajas);
                        box-shadow: 0 0 16px 1px map-get($colores, fondocajas);
                    }
                }
            }
        } 
    }
    /*INICIO MAIN*/
    /*bloque izquierdo*/
    /*Seccion para link de resume y proyectos-->*/
.pag1 {
    .saludoydibujo{
        margin-bottom: map-get($medidas, queries-margin);
        .cajasaludo{
            width: map-get($medidas, queries-ancho);
            height: map-get($medidas, queries-alto);
            padding-top: 78px;
            /*subtitulo hello*/
            .titulohello {
                font-size: map-get($tamanios, h3);
            }  
            .parrafohello{
                font-size: map-get($tamanios, h2);
            }
            .botoncajasaludo{
                font-size: map-get($tamanios, h4);
                width: map-get($medidas, queries-boton);
            } 
        }
        /*Seccion cualidades del desarrollador (con imagen)*/
        div .dibujo, 
        .dibujo img{
            width: map-get($medidas, queries-ancho);
            height: map-get($medidas, queries-alto);
            margin-top: map-get($medidas, queries-margin);
        }    
    }
    /*Seccion cualidades en cajas*/
    .cajascualidades{
        flex-direction: column;
            margin-left: map-get($medidas, queries-marginleft);
        .cualidades{
            margin: map-get($medidas, queries-margincualidades) 0px;
            padding: map-get($medidas, queries-padding-cualidades);
            width: map-get($medidas, queries-ancho);
            height: map-get($medidas, queries-altocualidades);
            img{
            padding: 13px;
        }
        } 
        .cualidades:nth-child(3){
            margin-bottom: map-get($medidas, margen-arriba);
        }
        /* FIN PAG 1 "HOME"*/
    }
}

    
    
    
    
    
    /*INICIO PAG 2 "ABOUT ME"*/
    .contactame div div a{
        font-size: 12px;
        width: 100px;
    }
    .video iframe{
        width: 344px;
        height: 318px;
    }
   
    .contactame,
    .video iframe{
        width: 344px;
        height: 318px;
    }
    .contactame{
        padding: 0px 95px 0px 4px;
        margin: 52px 68px 52px;
    }
    .contactame h2{
        padding: 4px;
        margin-bottom: 0px;
    }

    .parrafocontactame{
        font-size: 12px;
        padding: 0px 4px;
        margin-bottom: 6px;
    }
    .video,
    .aboutme{
        margin: 0px 68px;
        width: 344px;
        font-size: 12px;

    }
    .aboutme{
        height: auto;
    }

    
    /*PAG 5 "CONTACT"*/
    .grid{
        grid-template-rows: 20% 40% 40%;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "contacttexto"
        "datosmapa"
        "datosformulario ";
    }
    .datosformulario{
        margin-left: 52px;
    } 
    /*FIN 5 "CONTACT"*/
}

