.row{
    justify-content: center;
    .carousel-inner{
        padding-top: 156px;
        height: 508px;
        .carousel-control-next,
        .carousel-control-prev{
        margin-top: 160px;
        height: 320px;
        }
        img{
            padding-left: 195px;
        }
        .carousel-caption p{
            margin-bottom: 285px;
        }
    }
}
.trabajemos{
    margin: map-get($medidas,margen-arriba);
    .contacto{
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        width: 1344px;
        height: 280px;
        padding: map-get($medidas,padding-parrafo2);
        background-color: map-get($colores, fondocajas);
        @extend.background; 
        border-radius: map-get($medidas,esquinas);
        .trabajemosjuntos{
            padding: 4px;
        }
        .botoncontact a{
            margin: 8px;
            width: 100%;
            border-radius: map-get($medidas,esquinas);
            background-color: map-get($colores, primario);
            color: map-get($colores, texto1);
            text-decoration: none;
            padding: map-get($medidas,padding-parrafo1) map-get($medidas,padding-parrafo2);
        }
        .botoncontact a:hover {
            background-color: map-get($colores, texto1);
            border: 2px solid map-get($colores, primario);
            color: map-get($colores, primario);
        }
    }
}