main{
    .resume {
        margin: map-get($medidas, margen-arriba);
        .container-resume{
            margin: map-get($medidas, margen-arriba);
            }
            .section-title{
                margin-bottom: map-get($medidas,margen-arriba);
                }
                        }

        }



    
    

    


    

