main{
    .resume {
        margin: map-get($medidas, margen-arriba);
        .container-resume{
            margin: map-get($medidas, margen-arriba);
            }
            .section-title{
                margin-bottom: map-get($medidas,margen-arriba);
                }
            .row{
                .col-lg-6{
                    padding-right: map-get($medidas,margen-arriba);
                    .resume-title,
                    .resume-item{
                        padding-top: 36px;
                    }
                }
                
            }    
                        }
        }



    
    

    


    

