.navbar{
    background-color: map-get($colores,primario);
    margin: map-get($medidas,sin-padding);
    padding: map-get($medidas,sin-padding);
    .container-fluid{
        background-color:map-get($colores,primario);
        padding: map-get($medidas,sin-padding) map-get($medidas,margen-arriba);
        height: 104px;
        margin: map-get($medidas,sin-padding);
        img{
            padding-right: map-get($medidas, padding-parrafo1);
        }
        /*marca*/
        .navbar-brand{
        color:map-get($colores,marca);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: map-get($tamanios, h1);
        }
        .navbar{
            padding: map-get($medidas, sin-padding);
        }
        .collapse{
            justify-content: end;
            .navbar-nav{
                align-items: flex-end;
                a{
                    color:map-get($colores,texto1);
                    margin-left: map-get($medidas,padding-parrafo1);
                }
                a:hover{
                    color: map-get($colores,texto1);
                    border-radius: map-get($medidas, esquinas);
                    border: 2px solid map-get($colores,texto1);
                }
                .active, navbar-nav a{
                    background-color: map-get($colores,texto1);
                    color: map-get($colores,primario);
                    border-radius: map-get($medidas, esquinas);
                    border: 1px solid map-get($colores,texto1);
                    box-shadow:  map-get($medidas, sombra-active);
                    a:hover{
                        color: map-get($colores,primario);
                    }
                }
                /*Botones*/
                .nav-link{
                width: 110px;
                text-align: center;
                }
            }
        }
    }
}