.pag1{
    background: linear-gradient(map-get($colores, fondoindex),map-get($colores, primario)) ;
    /*contenedor de textos y botones*/
    .saludoydibujo {
        margin:  map-get($medidas, margen-arriba)  map-get($medidas, sin-padding);
        @include flex(flex,wrap,space-evenly);
        .cajasaludo {
            width: map-get($medidas, ancho);
            height: map-get($medidas, alto);
            border-radius: map-get($medidas, esquinas);
            padding-top: 150px;
            /*subtitulo hello*/
            .titulohello,
            .parrafohello {
                padding-left: map-get($medidas, margen-arriba);
                padding-bottom: map-get($medidas, padding-parrafo1);
                color: map-get($colores, texto1);
                }
            /*botones resume y proyectos*/
            .botones {
                display: flex;
                margin-left: map-get($medidas, margen-arriba);
                .botoncajasaludo {
                    @include centrar(flex,center,center);
                    width: 120px;
                    margin-right: map-get($medidas, padding-parrafo2);
                    /* texto botones resume y proyectos*/
                    a {
                        width: map-get($medidas, ancho-completo);
                        border-radius: map-get($medidas, esquinas);
                        background-color: map-get($colores, primario);
                        color: map-get($colores, texto1);
                        text-decoration: none;
                        padding: map-get($medidas, padding-parrafo1) map-get($medidas, padding-parrafo2);
                        &:hover {
                            background-color: map-get($colores, texto1);
                            border: 2px solid map-get($colores, primario);
                            color: map-get($colores, primario);
                        }
                    }
                }
            }
            .dibujo img {
                border-radius: map-get($medidas, esquinas);
                }
        } 
    }    
    /*Seccion cualidades del desarrollador*/
    .cajascualidades {
        @include centrar(flex,center,space-between);
        margin-left: map-get($medidas, margen-arriba);
        margin-bottom: map-get($medidas, sin-padding);
        width: 1348px;
        .cualidades {
            width: 416px;
            height: 200px;
            padding: map-get($medidas, padding-parrafo4);
            margin-bottom: map-get($medidas, margen-arriba);
            background-color: map-get($colores, fondocajas);
            border-radius: map-get($medidas, esquinas);
            box-shadow: map-get($colores, sombra);
            img {
                padding-bottom: map-get($medidas, padding-parrafo4);
            }
        }
    }
}